@charset "UTF-8";
:root {
  /* Color  */
  --bcg-dark: #2F303A;
  --bcg-light: #F5F4FA;
  --titl-cl: #212121;
  --txt-cl: #757575;
  --accent: #2196F3;
  --primery-cl: #FFFFFF;
  --accent-second: #000000;
  --btn-hover: #188CE8;
  --icon-cl: #AFB1B8;
  --gr-cl: rgba(47, 48, 58, 0.4);
  --modal-br-cl: rgba(33, 33, 33, 0.2);
  --item: 3;
  --card-gap: 30px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--card-gap);
}
.grid__item {
  -ms-flex-preferred-size: calc((100% - ((var(--item)) - 1) * var(--card-gap)) / var(--item));
      flex-basis: calc((100% - ((var(--item)) - 1) * var(--card-gap)) / var(--item));
  background-color: var(--primery-cl);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--txt-cl);
}

.btn {
  display: block;
  color: var(--primery-cl);
  background-color: var(--accent);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: var(--btn-hover);
  cursor: pointer;
}
.btn__icon {
  width: 24px;
  height: 24px;
  fill: var(--primery-cl);
}
.btn__sbmt {
  margin: 30px auto;
  padding: 10px 55px;
}
.btn__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primery-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.modal__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titl-cl);
}

.icon-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  fill: #000000;
  background-color: var(--primery-cl);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-btn:hover > .icon-close, .icon-close-btn:focus > .icon-close {
  fill: var(--btn-hover);
  cursor: pointer;
}

.modal-form {
  position: relative;
}

.form {
  position: relative;
  width: 100%;
  height: 40px;
}
.form__lbl {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 1;
  font-size: 12px;
}

.list__form:not(last-child) {
  margin-bottom: 28px;
}

.form__inp {
  width: 100%;
  height: 100%;
  padding-left: 42px;
  border: 1px solid var(--modal-br-cl);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__inp:not(:-moz-placeholder-shown) {
  border-color: var(--btn-hover);
  outline: transparent;
}
.form__inp:not(:-ms-input-placeholder) {
  border-color: var(--btn-hover);
  outline: transparent;
}
.form__inp:hover, .form__inp:focus, .form__inp:not(:placeholder-shown) {
  border-color: var(--btn-hover);
  outline: transparent;
}
.form__inp:hover + .form__input-icon, .form__inp:focus + .form__input-icon {
  fill: var(--btn-hover);
}

.form__input-icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form.textarea {
  height: 120px;
}

.form__inp.textarea {
  height: 100%;
  resize: none;
  padding: 12px 16px;
}

.agreement {
  margin-top: 20px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.agreement__txt {
  Font-size: 14px;
  Line-height: 1.7;
}
.agreement__custom-check {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 2px solid var(--titl-cl);
  border-radius: 2px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-check {
  fill: var(--primery-cl);
}

.agreement__inp:checked + .agreement__custom-check {
  background-color: var(--btn-hover);
  border: none;
}

.agreement__inp:hover + .agreement__custom-check,
.agreement__inp:focus + .agreement__custom-check {
  border-color: var(--btn-hover);
}

.agreement__link {
  color: var(--accent);
}

.logotype {
  margin-right: 93px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logotype__logo {
  color: var(--accent);
}
.logotype__type {
  color: var(--accent-second);
}

.nav__list,
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.contact__item {
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact__item:focus, .contact__item:hover {
  color: var(--accent);
  cursor: pointer;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__link {
  display: block;
  color: var(--titl-cl);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link.current, .nav__link:hover, .nav__link:focus {
  color: var(--accent);
  cursor: pointer;
}

.nav__link::after {
  content: "";
  display: none;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  background-color: var(--accent);
}

.current.nav__link::after {
  display: block;
}

.contact {
  margin-left: auto;
}
.contact__item:last-child {
  margin-left: 50px;
}
.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__icon {
  width: 20px;
  height: 20px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-cl);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus, .foot .social__link:hover, .foot .social__link:focus {
  background-color: var(--accent);
  fill: var(--primery-cl);
}

.subscribe {
  margin-left: auto;
}
.subscribe__title {
  display: block;
  padding-top: 12px;
  margin-bottom: 20px;
  color: var(--primery-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.subscribe__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.subscribe__mail {
  width: 385px;
  height: 50px;
  padding: 12px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--primery-cl);
  background-color: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__mail:hover, .subscribe__mail:focus {
  border-color: var(--btn-hover);
  outline: transparent;
}

header {
  border-bottom: 1px solid #ECECEC;
}
header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hat {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bcg-dark);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--gr-cl)), to(var(--gr-cl))), url(../imges/hat/Img.jpg);
  background-image: linear-gradient(var(--gr-cl), var(--gr-cl)), url(../imges/hat/Img.jpg);
  background-position: center;
}
.hat__title {
  color: var(--primery-cl);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.peculiarities {
  --item: 4;
}
.peculiarities__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--titl-cl);
}
.peculiarities__icon-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--bcg-light);
  border-radius: 4px;
}
.peculiarities__icon {
  width: 70px;
  height: 70px;
}

.doing {
  padding-bottom: 94px;
}
.doing__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--titl-cl);
  margin-bottom: 50px;
}
.doing__item {
  position: relative;
}
.doing__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: var(--primery-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  --item: 4;
  background-color: var(--bcg-light);
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--titl-cl);
  margin-bottom: 50px;
}

.team .card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card__content {
  text-align: center;
  padding-top: var(--card-gap);
  padding-bottom: var(--card-gap);
}

.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--titl-cl);
}

.card__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 16px;
}

.clients {
  --item: 6;
}
.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--titl-cl);
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  color: var(--icon-cl);
  border: 1px solid var(--icon-cl);
  border-radius: 4px;
  -webkit-transition-property: сolor, border-color;
  transition-property: сolor, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent);
  border-color: var(--accent);
}

.foot {
  background-color: var(--bcg-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot__logotype {
  margin: 0;
  padding-bottom: 20px;
}

.foot .logotype__type {
  color: var(--primery-cl);
}

.foot__adr,
.foot__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.foot__list > li:not(:last-child) {
  margin-bottom: 9px;
}

.foot__adr {
  color: var(--primery-cl);
}

.foot__link {
  color: rgba(255, 255, 255, 0.6);
}
.foot__link:hover, .foot__link:focus {
  color: var(--accent);
  cursor: pointer;
}

.join {
  margin-left: 70px;
  color: var(--primery-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.join__title {
  display: block;
  padding-top: 12px;
  margin-bottom: 20px;
}

.foot .social__link {
  fill: var(--primery-cl);
  background-color: rgba(255, 255, 255, 0.1);
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-bottom: 16px;
  width: 610px;
}
.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--titl-cl);
  background-color: var(--bcg-light);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition-property: сolor, background-color, -webkit-box-shadow;
  transition-property: сolor, background-color, -webkit-box-shadow;
  transition-property: сolor, background-color, box-shadow;
  transition-property: сolor, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn.current, .filters__btn:hover, .filters__btn:focus {
  color: var(--primery-cl);
  background-color: var(--btn-hover);
}
.filters__btn:hover, .filters__btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.galary {
  padding-top: 34px;
}
.galary__card-content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}
.galary__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--titl-cl);
  margin: 0;
}
.galary__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
}

.galary .card {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.thumb__txt {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  display: inline-block;
  padding: 63px 24px;
  text-align: center;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primery-cl);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.galary .card:hover .thumb__txt,
.galary .card:focus .thumb__txt {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.galary .card:hover,
.galary .card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */