.logotype {
    margin-right: 93px;
    font-family: "Raleway";
    font-style: normal;
    @include font(700, 26px, 1.2);
    

    &__logo {
        color: var(--accent);
    }
    
    &__type {
        color: var(--accent-second);
    }
}

