.social {
    display: flex;
    justify-content: center;

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__icon {
        width: 20px;
        height: 20px;
    }
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--icon-cl);

    @include transition(background-color);
    

    &:hover,
    &:focus,
    .foot &:hover,
    .foot &:focus {
    background-color: var(--accent);
    fill: var(--primery-cl);
}
}



