:root {
    /* Color  */
    --bcg-dark: #2F303A;
    --bcg-light: #F5F4FA;
    --titl-cl: #212121;
    --txt-cl: #757575;
    --accent: #2196F3;
    --primery-cl: #FFFFFF;
    --accent-second: #000000;
    --btn-hover: #188CE8;
    --icon-cl: #AFB1B8;
    --gr-cl: rgba(47, 48, 58, 0.4);
    --modal-br-cl: rgba(33, 33, 33, 0.2);

    // grid items in row
    --item: 3;
    --card-gap: 30px;
}